/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: Berkshire;
    src: url(./assets/fonts/Berkshire/BerkshireSwash-Regular.ttf)
}

@font-face{
    font-family: Quicksand;
    src: url(./assets/fonts/QuickSand/Quicksand-Regular.ttf);
}